:root {
  --background: #303446;
  --text: #c6d0f5;
  --text-secondary: #8CAAEE;
  --text-background: #B5BFE2;
  --highlight: #684eff;
  --link-color: #f2d5cf;
  --github-color: #a6d189;
  --linkedin-color: #1a8cd8;
  --table-highlight: #414559;
  --table-background: #292c3c;
}