/* Frappe Theme
 *
 * text: #c6d0f5
 * text-secondary: #8CAAEE
 * text-background: #B5BFE2
 * prompt: #EA999C
 * URLs: #f2d5cf
 * selection: #626880
 * active border: #babbf1
 * background: #303446
 * */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,700;1,400&display=swap');

* {
  background: var(--background);
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  color: var(--text);
}

a {
  color: --var(--link-color);
  text-decoration: none;
}

.text-background {
  color: var(--text-background);
}

.text-secondary {
  color: var(--text-secondary);
}
.linkedin:hover {
  color: var(--linkedin-color);
}

.github:hover {
  color: var(--github-color);
}

.cursor {
  color: var(--link-color);
}

.output {
  width: 100%;
  max-width: 80ch;
  animation: fade 5s;
}

.typeme {
  animation: typing 2s steps(25);
  /* white-space: nowrap; */
  overflow: hidden;
}

.type {
  width: 30ch;
  border-right: 10px solid var(--link-color);
  animation: blink 1s step-end infinite;
  animation-delay: 3s;
}

/* animation */

@keyframes fade {
  0% { opacity: 0}
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes typing {
  0% { width: 0; }
  100% { width: 40ch; }
}
    
@keyframes blink {
  50% { border-color: transparent;}
}

.picker {
  position: relative;
}

.arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #333; /* Arrow color */
  transition: top 0.2s ease-in-out; /* Smooth transition for arrow movement */
  left: -10px; /* Adjust position relative to menu items */
  top: 0; /* Initial top position */
}

.role-item {
  cursor: pointer;
}

.roles .selected {
  color: var(--link-color);
  font-weight: 700;
}

/* dynamic resizing */
@media (min-width:600px) {
  body {
    font-size: 1.25rem;
  }
}