/* Frappe Theme
 *
 * text: #c6d0f5
 * text-secondary: #8CAAEE
 * text-background: #B5BFE2
 * prompt: #EA999C
 * URLs: #f2d5cf
 * selection: #626880
 * active border: #babbf1
 * background: #303446
 * */


.linkedin:hover {
  color: var(--linkedin-color);
}

.github:hover {
  color: var(--github-color);
}

.cursor {
  color: var(--link-color);
}

.picker {
  position: relative;
}

.arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #333; /* Arrow color */
  transition: top 0.2s ease-in-out; /* Smooth transition for arrow movement */
  left: -10px; /* Adjust position relative to menu items */
  top: 0; /* Initial top position */
}

.role-item {
  cursor: pointer;
}

.roles .selected {
  color: var(--link-color);
  font-weight: 700;
}

